/*!
 * jfwf.css
 */

/* summary {
	  display: block;
	}
*/

p.jfwfupdate {
  text-align:right;
  font-size: 80%;
  color: #999;
}

.jfwfupdate {
  text-align:right;
  font-size: 12px;
  color: #999;
}


div.jfwfcmtYellow
{
	border-style: solid; 
	border-width: 0px;
  	border-left:1px double #ff0000;
  	background-color: #ffff00;
}

.jcomment,
.jcomment-reply,
.jcomment-admin,
.jcomment-admin-reply,
.jcomment-admin-top
{
	background-color: #fff;
	position: relative;
	border-left: 3px solid green;
	padding: 5px;
	margin: 5px;
}
.jcomment-reply,
.jcomment-admin-reply
{
	margin-left: 30px;
}
.jcomment-admin,
.jcomment-admin-reply
{
	border-left: 3px solid rgb(42,92,149);
}
.jcomment-admin-top
{
	border-left: 3px solid #f0ad4e;
}

.jcomment-header,
.jcomment-header-admin,
.jcomment-header-admin-top
{
	position: relative;
	background-color: transparent;
	margin-left: 60px;
	font-weight: bold;
	font-size: 16px;
	color: green;
}
.jcomment-header-admin
{
	color: rgb(42,92,149);
}
.jcomment-header-admin-top
{
	color: #f0ad4e;
}


.jcomment-photo{
	width: 50px;
	height: 50px;
	margin: 0px;
	padding: 0px;
	background-color: #88ff88 ;
	position: absolute;
	top:5px;
	left:5px;
	z-index: 3;

}
.jcomment-header
{
	position: relative;
	background-color: transparent;
	margin-left: 60px;
	font-weight: bold;
	font-size: 16px;
	color: green;
}
.jcomment-body{
	background-color: transparent;
	margin: 4px;
	padding: 0px;
	z-index: 2;
	margin-left: 60px;
	font-size: 14px;
}
.jcomment-footer
{
	background-color: transparent;
	margin: 4px;
	margin-left: 60px;
	font-size: 12px;
	color: gray;
}
.jcomment-footer a{
	float: right;
	display: block;
}

.jlesfileicon
{
	margin: 0px;
	padding:0px;
	width: 32px;
	height: 32px;
	float:right;
}
.jlesfileicon2
{
	margin: 0px;
	padding:0px;
	width: 32px;
	height: 32px;
}
.jlesstuphoto
{
	margin: 0px;
	padding:0px;
	width: 32px;
	height: 32px;
	margin-right: 10px;
	margin-left: 10px;
}

.jh-breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.jh-breadcrumb > li {
  display: inline-block;
}
.jh-breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "|\00a0";
}
.jh-breadcrumb > .active {
  color: #999;
}